.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card:hover {
  transform: scale(1.03);
}

.LongText {
  min-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.table td:last-child {
  width: 60px; /* Set a fixed width for the last column */
  text-align: center; /* Center align the dropdown icon */
  position: relative; /* Position relative for dropdown */
}

.dropdown {
  display: inline-block; /* Ensure dropdown is inline with the icon */
}

.dropdown-menu {
  min-width: 100px; /* Adjust minimum width of the dropdown */
  z-index: 1000; /* Ensure dropdown appears above other elements */
}

.dropdown-toggle::after {
  display: none; /* Hide default dropdown arrow */
}